In [3]:
print("my name is {0} , my age is {1}".format("hazem", 30))
print("my name is {} , my age is {}".format("amr", 50))
print("my name is {x} , my age is {y}".format(x="mohamed", y=55))

my name is hazem , my age is 30
my name is amr , my age is 50
my name is mohamed , my age is 55

In [4]:
name = "Hazem"
age = 21
print(f"my name is {name}, my age is {age}")

my name is Hazem, my age is 21

In [8]:
name = "Hazem"
age = 21
course_name = "Machine learning"

print(f"My name is {name}, and I am {age} years old. I am engaged in learning {course_name}")

My name is Hazem, and I am 21 years old. I am engaged in learning Machine learning

In [14]:
name = "amit learning"
print(name[5:10:1])

learn

In [17]:
name = "aMIt Learning"

print(name.upper())
print(name.lower())
print(name.replace('amit','hello'))
print(name.capitalize())

AMIT LEARNING
amit learning
aMIt Learning
Amit learning

In [19]:
name ='hazem amr mohamed'
split_name = name.split()
print(split_name)

['hazem', 'amr', 'mohamed']

In [22]:
sent = " ".join(split_name)
sent

'hazem amr mohamed'

In [2]:
print("this is double qoutes: \"hello\" ")

this is double qoutes: "hello"

In [1]:
list_1 = [1, 2, 3, 4, "Depi", "learning", True, [1, 2, 3, "true", ["ml", "dl", "ds"]]]

type(list_1)

list

In [5]:
list_2 = ["amit", "learning", "python"]

list_2.append("ml")

print(list_2)

['amit', 'learning', 'python', 'ml']

In [8]:
list_3 = ["amit", "learning", "python"]
list_3.insert(1, "DEPI")
print(list_3)

['amit', 'DEPI', 'learning', 'python']

In [9]:
list_4 = ["amit", "learning", "python"]
list_4.extend("machine")
print(list_4)

['amit', 'learning', 'python', 'm', 'a', 'c', 'h', 'i', 'n', 'e']

In [10]:
list_one = ["amit", "learning", "python"]
list_one.remove("learning")
print(list_one)

['amit', 'python']

In [12]:
list_one = ["amit", "learning", "python"]
list_one.pop()
print(list_one)

['amit', 'learning']

In [14]:
list_one = ["amit", "learning", "python"]
list_one.pop(1)
print(list_one)

['amit', 'python']

In [16]:
del list_one
list_one

NameError: name 'list_one' is not defined

In [23]:
input_list = ["amit", "learning", "python", "machine learning", "data science", "deep learning"]

item = input("Enter item to remove: ")
input_list.remove(item)

print("Updated list:", input_list)

Updated list: ['learning', 'python', 'machine learning', 'data science', 'deep learning']

In [25]:
dictionary_one = {"key1": 12.5, "key2": "value2", "key3": "python", 4: [1, 2, 3, 4, 5]}
print(dictionary_one)

{'key1': 12.5, 'key2': 'value2', 'key3': 'python', 4: [1, 2, 3, 4, 5]}

In [27]:
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))

print("addition:", num1 + num2)
print("subtraction:", num1 - num2)
print("multiplication:", num1 * num2)
print("division:", num1 / num2)

addition: 14.0
subtraction: -2.0
multiplication: 48.0
division: 0.75

In [ ]:
degree = float(input("Enter student degree (0-100): "))

while degree < 0 or degree > 100:
    degree = float(input("Invalid input Enter a value between 0 and 100: "))

if 90 <= degree <= 100:
    print("Grade: A")
elif 80 <= degree < 90:
    print("Grade: B")
elif 70 <= degree < 80:
    print("Grade: C")
elif 60 <= degree < 70:
    print("Grade: D")
else:
    print("Grade: F")

Grade: C