In [ ]:
list = [3,4,5,6,7]
list[2] = 4
list

[3, 4, 4, 6, 7]

In [4]:
name , age , grade = 'Hazem' , 22 , 3.375

In [6]:
print(f"my name is {name} and my age is {age} and my grade is {grade}")

my name is Hazem and my age is 22 and my grade is 3.375

In [8]:
age = 20
interest = ("data analysis")

if age > 18 and interest == 'data analysis':
    print('this is hazem')

else:
    print('this is another one')

this is hazem

In [ ]:
try:

    Grade = float(input('enter your grade'))

    if Grade >= 90:
        print("your grade is excellent")


    elif Grade >= 80:
        print("your grade is good")

# except ValueError:
#     print('ValueError')

except Exception as e:
    print(e)

could not convert string to float: 'k'

In [ ]:
def grade_sys():

    Grade = float(input('enter your grade'))

    if Grade >= 90:
        print("your grade is excellent")


    elif Grade >= 80:
        print("your grade is good")

grade_sys()

your grade is excellent

In [20]:
temp = float(input('enter the temperture'))

if temp > 30:
    print('hot')

else:
    print('cold')

hot

In [23]:
temp = float(input('enter the temperture'))

result = 'hot' if temp > 30 else 'cold'
result

'cold'

In [24]:
def sum(n1 , n2):
    return n1+n2

sum(9,3)

12

In [29]:
add = lambda n1,n2: n1+n2
add(5,9) , add(7,9)

(14, 16)

In [42]:
for i in range (1,11):
    print (f"this is table {i}")
    for j in range(1,11):
        print(f'{i}  * {j} = {i*j}')

this is table 1
1  * 1 = 1
1  * 2 = 2
1  * 3 = 3
1  * 4 = 4
1  * 5 = 5
1  * 6 = 6
1  * 7 = 7
1  * 8 = 8
1  * 9 = 9
1  * 10 = 10
this is table 2
2  * 1 = 2
2  * 2 = 4
2  * 3 = 6
2  * 4 = 8
2  * 5 = 10
2  * 6 = 12
2  * 7 = 14
2  * 8 = 16
2  * 9 = 18
2  * 10 = 20
this is table 3
3  * 1 = 3
3  * 2 = 6
3  * 3 = 9
3  * 4 = 12
3  * 5 = 15
3  * 6 = 18
3  * 7 = 21
3  * 8 = 24
3  * 9 = 27
3  * 10 = 30
this is table 4
4  * 1 = 4
4  * 2 = 8
4  * 3 = 12
4  * 4 = 16
4  * 5 = 20
4  * 6 = 24
4  * 7 = 28
4  * 8 = 32
4  * 9 = 36
4  * 10 = 40
this is table 5
5  * 1 = 5
5  * 2 = 10
5  * 3 = 15
5  * 4 = 20
5  * 5 = 25
5  * 6 = 30
5  * 7 = 35
5  * 8 = 40
5  * 9 = 45
5  * 10 = 50
this is table 6
6  * 1 = 6
6  * 2 = 12
6  * 3 = 18
6  * 4 = 24
6  * 5 = 30
6  * 6 = 36
6  * 7 = 42
6  * 8 = 48
6  * 9 = 54
6  * 10 = 60
this is table 7
7  * 1 = 7
7  * 2 = 14
7  * 3 = 21
7  * 4 = 28
7  * 5 = 35
7  * 6 = 42
7  * 7 = 49
7  * 8 = 56
7  * 9 = 63
7  * 10 = 70
this is table 8
8  * 1 = 8
8  * 2 = 16
8  * 3 = 24
8  * 4 = 32
8  * 5 = 40
8  * 6 = 48
8  * 7 = 56
8  * 8 = 64
8  * 9 = 72
8  * 10 = 80
this is table 9
9  * 1 = 9
9  * 2 = 18
9  * 3 = 27
9  * 4 = 36
9  * 5 = 45
9  * 6 = 54
9  * 7 = 63
9  * 8 = 72
9  * 9 = 81
9  * 10 = 90
this is table 10
10  * 1 = 10
10  * 2 = 20
10  * 3 = 30
10  * 4 = 40
10  * 5 = 50
10  * 6 = 60
10  * 7 = 70
10  * 8 = 80
10  * 9 = 90
10  * 10 = 100

In [44]:
lst = [1,2,3,4,5,6,7,8,9]
result = [i**2 for i in lst if i % 2 == 0]

result

[4, 16, 36, 64]

In [48]:
lst = [1,2,3,4,5,6,7,8,9]
resullt = []
for i in lst:
    if i % 2 == 0:
        resullt.append(i**2)

resullt

[4, 16, 36, 64]